
@import url('http://fonts.cdnfonts.com/css/circular-std');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

                
// Body
$body-bg: #F8F8F8;

// Typography
$primary-font: 'Poppins', sans-serif;
$title-font: 'Circular Std', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


/*===== VARIABLES CSS =====*/
:root {
    
  
    /*========== Colors in Official Website ==========*/
    --first-color: #60B0B0;
    --header-color: #4B535A;
    --light-color: #606A74;
    --logo-color: #263238;
    --paragraph-color: #8FA5A5;
    --text-color-light: #A6A6A6;
    --hover-color: #008080;
    --hover-side-color: #d7ebebe2;
    --white-color:  #FFFFFF;
    --body-color: #FBFEFD;
    --login-color: #008080;
    --title-color: #263238;
    --medium-color: #e0e0e0;
    --message-bg-color: #c8eeee;
    --hover-delete: #D70E0E;
  
   /*========== Font weight ==========*/
   --button:  450;
   --font-medium: 500;
   --font-semi-bold: 600;
   --logo-font-weight: 900;
   
   /*========== Margenes ==========*/
   --mb-01: .3rem;
   --mb-1: .5rem;
   --mb-1-2: .7rem;
   --mb-2: 1rem;
   --mb-02: 1.2rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-46: 2.45rem;
   --mb-5: 2.5rem;
   --mb-5-1: 2.7rem;
   --mb-6: 3rem;
   --mb-7: 4rem;
   --mb-9: 5rem;
   --mb-10: 6rem;
   --mb-11: 7rem;
   --mb-12: 8rem;
   --mb-8: 21rem;
  
  
   --mb-special: 50rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  
  }
  
  @media screen and (min-width: 768px){
    :root{
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: menu
    }
  }
  
  /*========== BASE ==========*/
  *,::before,::after{
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }

  /*========== Variables Dark theme ==========*/
  body.dark-theme
  {
    --light-color: #FFFF;
    --text-color: #C7D1CC;
    --body-color: #263238;
    --text-color-light: #FFFF;
    --container-color: #3B4D56;
    --login-color: #60B0B0;
    --title-color: #C7D1CC;
    --medium-color: #C7D1CC;
    --message-bg-color: rgba(238, 254, 251, 0.22);
  }
  
  /*========== Button Dark/Light ==========*/
  .change-theme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    // border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(172, 174, 175, 0.559);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136); 
  }

  /* ERROR MESSAGES */
  .error-validation {
    color: var(--error-txt);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    
  }
  
  body
  {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
  }
  
  h1,h2,h3,p,ul{
    margin: 0;
  }
  
  ul{
    padding: 0;
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  
  /*========== CLASS CSS ==========*/
  .section{
    padding: 4rem 0 2rem;
  }
  
  .section-title, .section-subtitle
  {
    text-align: center;
  }
  
  .section-title{
    font-size: var(--h1-font-size);
    color: var(--light-color);
    margin-bottom: var(--mb-3);
  }
  
  .section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }
  
  /*========== LAYOUT ==========*/
  .bd-container{
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  
  .bd-grid{
    display: grid;
    gap: 1.5rem;
  }
  
  .l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }
  
  /*========== NAV ==========*/
  .nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 768px){
    .nav__menu
    {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: var(--body-color);
      transition: .4s;
      box-shadow: 0 4px 4px rgba(0,0,0,.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--z-fixed);
    }
  }
  
  .nav__item{
    margin-bottom: var(--mb-2);
  }
  
  .nav__link, .nav__logo, .nav__toggle{
    color: var(--light-color);
    font-weight: var(--font-medium);
  }
  .nav__logo, .vango
  {
    font-family: 'Circular Std';
    font-size: var(--h1-font-size);
    font-weight: var( --logo-font-weight);
  }
  .vango 
  {
    color: var(--first-color);
  }
  .nav__link{
    transition: .3s;
  }
  .nav__link:hover
  {
    color: var(--first-color);
  }
  .nav__toggle
  {
    font-size: 1.3rem;
    cursor: pointer;
  }
  /* Show menu */
  .show-menu{
    top: var(--header-height);
  }
  
  /* Active menu */
  .active-link{
    color: var(--first-color);
  }
  
  /* Change background header */
  .scroll-header
  {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  /* Scroll top */
  .scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background:var(--first-color);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
  }
  
  .scrolltop:hover{
    background-color: var(--hover-color);
  }
  
  .scrolltop__icon{
    font-size: 1.8rem;
    color: var(--body-color);
  }
  
  /* Show scrolltop */
  .show-scroll{
    visibility: visible;
    bottom: 1.5rem;
  }
  
  /*========== Header ==========*/
  .home__container
  {
    height: calc(100vh - var(--header-height));
    align-content: center;
  }
  
  .home__title{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  
  .home__subtitle
  {
    font-size: var(--h2-font-size);
    color: var(--light-color);
    margin-bottom: var(--mb-4);
  }
  
  .home__img
  {
    width: 300px;
    justify-self: center;
  }

  :root {

    /*Colors*/
    --text-area-color: #ecf0f1;
    --dashboard-font-color: #606A74;
    --font-color-text-area: #4B535A;
    --button-color: #60B0B0;
    --sidebar-color: #DCF2F2;
    --sidebar-hover: #d7ebebe2;
    --dashboard-subtitle: #4B535A;
    --switch-button: #ffffff;
    --switch-button-border: #D9DADC;
    --gcash-color: #007CFF;
    --dropdown-border: rgba(132, 146, 158, 0.3);
    --hover: #008080;
    --iconic: #606A74;
    --usertype-dropdown: #696969;
    --sort-color: #66B2B2;
    --terms: #60B0B0;
    --error-msg: rgb(230, 189, 189);
    --error-txt: #dc3444;
    --dropdown-open: transparent;
  
    /* Font-sizes */

    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --paragraph-size: .90rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

  
    /* Fonts */
    --font: 'Poppins', sans-serif;
    --font-style: normal;
    
  
  }


  