@import 'variables';

// //Bootstrap
// @import 'bootstrap/scss/bootstrap';

.pagination {

    .pagenum {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .page-item {
            list-style-type: none;
            background: #66B2B2;
            border-radius: 8px;
            padding: 4px;
            height: 34px;

            &.arrow {
                width: 40px;
                text-align: center;
            }

            &.num {
                width: 30px;
                text-align: center;
            }

            &:hover {
                background: #B2D8D8;
            }


            a {
                text-decoration: none;
                color: #fff;
                padding: 5px;
            }

        }
    }
}

.list-container {

    position: fixed;
    width: 25%;
    height: 100vh;
    // background: #000;

    .search-bar {
        padding: 15px;
        border: 0.5px solid #F0F0F0;
        background: #fff;


        input {
            font-size: 15px;
            color: #6C757D;
            font-weight: 400;
            outline: none;
            height: 45px;
            padding: 0 20px 0 50px;
            width: 100%;
            border: none;
            border-radius: 12px;
            transition: all 0.5s ease;
            background: #EAEBEC;
            background-image: url(../../public/assets/search.svg);
            background-repeat: no-repeat;
            background-position: 6%;

        }

    }

    .select-all {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        height: 65px;

        label {
            font-family: $title-font;
        }

        iconify-icon {
            font-size: 21px;
        }
    }

    .list {
        background: #F6F6F6;
        height: 82vh;
        padding: 15px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;

        }

        &::-webkit-scrollbar-thumb {
            background: rgba(206, 212, 218, 0.575);
            border-radius: 20px;
        }

        &:hover {

            &::-webkit-scrollbar {
                background-color: rgba(241, 241, 241, 0.736);
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(173, 178, 183, 0.5);
                border-radius: 20px;
            }
        }

        .results {

            margin-bottom: 25px;

            small {
                color: #BEBEBE;
            }

        }

        .list-info {
            // cursor: pointer;
            padding: 20px;
            margin: 10px 0;
            border-radius: 8px;
            background: rgb(227, 227, 227);
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;

            &:hover:not(.active) {
                box-shadow: 0px 0px 0px 1px #79abab;
                transition: box-shadow ease-in 0.1s;
            }

            &.active {
                background: #EAF8F2;
                border: 1px solid #66B2B2;
            }

            input[type=checkbox] {}

            label {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;

                .label-txt {

                    h4 {
                        font-size: 14px;
                        font-weight: 500;
                        color: #343A40;
                    }

                    p {
                        font-size: 13px;
                        color: #6C757D;
                    }
                }

                .label-img {
                    height: 50px;
                    width: 50px;
                    background: #60B0B0;
                    border-radius: 100px;
                    margin: 0 10px;

                    img {
                        margin: 8px 0px 0px 1px;
                        padding: 6px;

                    }
                }
            }

            img.lbl-img {
                border-radius: 100px;
                margin: 0 10px;

            }
        }
    }

}

.content-details {

    position: absolute;
    right: 0;
    top: 95px;
    width: 70%;
    height: auto;
    padding: 0 50px 0 30px;
    // background: #bbb;

    .content-head {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .text-details {
            font-family: $title-font;
            font-size: 1.5em;
            font-weight: 500;
        }

        .action {
            display: inline;

            .bx {
                font-size: 24px;
                color: #343A40;
                cursor: pointer;

                &:hover {
                    color: #6C757D;
                }
            }
        }

    }

    .driver-lbl {
        font-family: $primary-font;
        font-size: 15px;
        font-weight: 450;
        color: #343A40;
        margin-bottom: 5px;
    }

    .driver-txt {
        font-family: $primary-font;
        font-size: 14px;
        font-weight: 400;
        color: #6C757D;
        margin-bottom: 8px;
    }

    .driver-title {
        font-family: $title-font;
        font-size: 20px;
        font-weight: 500;
        color: #343A40;
    }

    .content-body {

        // background: #000;
        height: auto;
        margin-top: 60px;


        .driver-personal {
            display: flex;
            flex-direction: row;
            align-items: center;

            .driver-avatar {

                margin-right: 35px;

                img {
                    border-radius: 100px;
                    border: 2px solid #66B2B2;
                    padding: 3px;
                }
            }

            .driver-basicinfo {

                h3 {
                    font-family: $primary-font;
                    font-weight: 600;
                    font-size: 20px;

                    .username {
                        font-weight: 400;
                    }
                }

                .driver-identity {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    grid-gap: 0 10px;
                    max-width: 550px;
                    min-width: 485px;
                    width: auto;
                    margin-top: 12px;
                    padding: 15px;
                    border-radius: 10px;
                    background-color: #F3F3F3;

                    .driver-id, .driver-contact {
                    
                        position: relative;
                    }

                    .driver-id {
                        justify-self: flex-start;
                        width: 85%;
                    }

                    .driver-id::after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        border-radius: 15px;
                        width: 1.8px;
                        height: 100%;
                        background-color: #e0e0e0;
                    }

                    iconify-icon {
                        margin-right: 5px;
                        margin-bottom: -1px;
                        color: #008080;
                        
                    }
                }
            }
        }

        .driver-personal-2 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 70px;

            .col {
                width: 45%;

                .driver-van {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;

                    .driver-van-img {
                        background: #66B2B2;
                        padding: 30px;
                        margin-right: 15px;
                        border-radius: 10px;
                    }

                }

                .driver-van-detail {
                    display: flex;
                    flex-direction: column;
                }

                .driver-gcash-detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 20px;
                }
            }


        }

    }
}




/*========== ADD DRIVER ==========*/
@media screen and (min-width: 576px) {

    /*.driver_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--mb-2);
  }*/
    .name_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--mb-2);
    }

    .driver-information-container-,
    .contact_driver,
    .driver_information_container,
    .gcash_driver_information,
    .driver_information, 
    .nav_driver {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        
    }

    .gcash_driver {
        margin-left: var(--mb-12);
        /*--mb-13: 9rem*/
    }

    .nav_driver {
        display: flex;
    }


}

.modal {
    padding: 20px;

    .modal-title {
        font-size:20px;
        font-weight: 500;
        font-family: $title-font;
    }

    .form-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px 15px;
        
    }

    hr {
        grid-column: 1 / 3;
        

        &.hr-1 {
            margin: 15px 0;
        }

        &.hr-2 {
            margin-top: 15px;
        }
    }

    .modal-button {
        grid-column-start: 2;
        justify-self: end;
        
    }
}


/**CLASS**/
.dashboard-subtitle-van,
.dashboard-subtitle-gcash,
.dashboard-subtitle-driver-ID,
.dashboard-subtitle-driver-contact {
    display: block;
    color: var(--light-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    font-size: var(--normal-font-size);
}

.dashboard-subtitle-driver-plate-number {
    font-size: var(--small-size);
    color: var(--light-color);
    margin-bottom: 0;
    font-weight: var(--font-medium);
}

/*Images*/


.van_model {
    width: 290px;
}

.gcash-driver {
    width: 290px;
}

/*DRIVER ID */
.id_container {
    position: relative;
}

.id {
    position: absolute;
    padding: 21px 8px;
    top: -9px;
}

.id {
    width: 66px;
    height: 66px;
    color: var(--light-color);
}

input.driverid {
    padding-left: 50px;
    width: 300px;
}

/*DRIVER email */
.emnail_container {
    position: relative;
}

.email {
    position: absolute;
    padding: 21px 8px;
    top: -9px;
}

.email {
    width: 66px;
    height: 66px;
    color: var(--light-color);
}

input.driveremail {
    padding-left: 50px;
    width: 300px;
}

input.accountphone {
    padding-left: 50px;
    height: 44px;
    border-radius: 8px;
    background-image: url(../../public/assets/flag-philippines.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    
  }

.emnail_container {
    margin-top: var(--mb-3);
    margin-left: var(--mb-2);
}

.driver_phone_number_container {
    margin-top: var(--mb-3);
}


.phone-number-container {
    margin-left: var(--mb-2);
  }

.driver_email_container {
    margin-top: var(--mb-4);
}

.dashboard-subtitle-driver-contact {
    margin-left: var(--mb-2);
}

/*iMAGES*/
.van_model {
    width: 200px;
}

.gcash-driver {
    width: 260px;
}

.platenumber {
    width: 270px;
}

.acctname {
    width: 280px;
}

/*Back*/
.arrow {
    color: var(--light-color);
}

/*Button*/
.add-driver {
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
    border-style: none;
    width: 160px;
}

.add-driver:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.cancel {
    margin: 0 15px;
    color: #343A40;

    &:hover {
        color: #000;
    }
}


.textbox,
textarea {
  width: 100%;
  margin-top: 4px;
  padding: 5px 15px;
  height: 45px;
  box-sizing: border-box;
  line-height: 2;
  font-family: var(--font);
  font-size: var(--paragraph-size);
  border: 2px;
  background: var(--text-area-color);
  border-radius: 6px;
  color: var(--font-color-text-area);

  &:hover {
    background-color: #ecf0f10b;
    border: 0.1px solid #bcc8d3;
    transition: background-color ease 0.2s;
  }

  &::placeholder {
    color: var(--paragraph-color);
  }
}

.textbox:focus {
  outline: none !important;
  border: 0.5px solid #bcc8d3;
  background-color: #ecf0f10b;
  box-shadow: 0px 0px 0.5px 2px #60B0B0;
  transition: all ease-out 0.1s;
}

