@import 'app.scss';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

$enable-validation-icons: false;


:root {

    //theme

    --teal-reg: #008080;
    --teal-med: #60B0B0;
    --teal-dark: #004C4C;
    --teal-light: #d7ebebe2;
    --warning: #FF7F52;

    //gray

    --graye: #263238;
    --med-graye: rgb(138, 146, 158);
    --light-graye: rgb(200, 200, 200);

    // font-family

    --poppins: 'Poppins', sans-serif;
    --circularstd: 'Circular Std', sans-serif; 

} 

* {
    font-family: var(--poppins)
}

.container-fluid {
    background-color: var(--teal-light);
    min-height: 100vh;
    background-image: url(../../public/assets/bottom-bg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.form-float img.logo-head {
    position: relative;
    top: -100px;
    
}

.form-float {
    background: white;
    border-radius: 12px;

    .form-floating {

        input {
            margin: 0 !important;
            margin-bottom: 4px !important;
        }
    }

}

.head-text {
    font-family: var(--circularstd);
    font-size: 24px;
}

i.uil {
   position: absolute;
   right: 15px;
   top: 15px;
   font-size: 22px;
   cursor: pointer;
   padding: 0 3px;
   color: var(--light-graye);
}

.forgot-pass {
    margin-top: 10px;
    font-size: 14px;
    text-align: right;

    a {
       color: var(--med-graye);
       text-decoration: none;

       &:hover {
        color: #008080;
       }
    }
} // .forgot-pass end

.button {
    margin-top: 35px;

    input {
        border: none;
        color: #fff;
        font-size: 17px;
        padding: 12px 0;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 6px;
        background-color: var(--teal-med);
        cursor: pointer;
        transition: all 0.3s ease;
        

        &:hover {
            background-color: var(--teal-dark);
        }
    }

} // .button end

.user-role {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;

    .role {
        width: 100%;
        height: 50px;


        .btn {
            display: block;
            padding: 13px;
            text-transform: capitalize;
            font-size: 15px;
            // color: var(--teal-med);

            &:hover {
                // color: #fff;
                // background: var(--teal-med);
            }

            .iconify {
                margin-right: 4px;
            }
            
        }

        &.user-admin {
            margin-right: 8px;

            }

        
    }
}
