// Variables
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

// Navbar 

.navbar {
    left: 0;
    top: 0;
    width: 83%;
    height: 78px;
    background: #F8F8F8;
    padding: 15px 50px;
    z-index: 99;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar input {
    font-size: 15px;
    color: #6C757D;
    font-weight: 400;
    outline: none;
    height: 45px;
    padding: 0 20px 0 50px;
    width: 100%;
    width: 350px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #EAEBEC;
    background-image: url(../../public/assets/search.svg);
    background-repeat: no-repeat;
    background-position: 6%;
    
}

.navbar .bx-search {
    font-size: 22px;
    color: #FFF;
    
}

.add-btns {

    .btn-add {
        
        border: none; 
        height: 45px;
        background-color: transparent;

        .add {
            font-size: 15px;
            font-weight: 400;
            background: #B2D8D8;
            text-decoration: none;
            color: #004C4C;
            padding: 10px 25px;
            border-radius: 10px;

        }
    }

}

// .navbar .bx-search:hover {
//     background: #FFF;
//     color: #11101d;
// }

