.no-records {
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 350px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 8%;
   

    .no-record-txt {

        .no-record-title {
            font-size: 58px;
            line-height: 100%;
            font-weight: 700;
            padding-bottom: 10px;
            color: #3c3f4a;
        }

        .no-record-subtitle {
            font-size: 18px;
            line-height: 25px;
            color: var(--light-color);
        }
    }

}